<!DOCTYPE html>
<html>
<head>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/easyui.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icon.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easyui.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/easyui-lang-zh_CN.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/yw.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/svract.js') }}"></script>
</head>
<body>
<div style="padding-top: 20px;padding-left: 20px;">
	<script type="text/javascript">
		$(document).ready(function(){
			loadsa('{{ url_for("svractdata") }}')
			jmlurl = '{{ url_for("jobmanlist") }}'
			saurl = '{{ url_for("serveraction") }}'
			sfurl = '{{ url_for("svractform") }}'
			loadactuser(jmlurl);
			loadcactuser(jmlurl);
		});
	</script>
	<!--服务器操作记录开始-->
	<table id="svrrecord"></table>
	<div id="svrrecordtb" style="height:auto">
		<div style="margin-bottom:5px">
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openaddsvrwin()">添加</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delsvr('{{ url_for("svractmdf") }}')">删除</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="openeditsvr()">修改</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="exportexcel('{{ url_for("saexceldownload") }}')">导出Excel表格</a>
		</div>
		<div style="margin-bottom:5px;margin-left:5px;">
			<div style="margin-bottom:5px">
				<input id='acttime' type='checkbox'>
				最后操作时间从: <input id='stacttimefrom' class="easyui-datetimebox" style="width:150px" editable='false'>
				到: <input id='stacttimeto' class="easyui-datetimebox" style="width:150px" editable='false'>
				<a id='searchbtn' onclick="svrsearch()" style='width:80px;margin-left:60px;' class="easyui-linkbutton" iconCls="icon-search">筛选</a>
			</div>
			<div style="margin-bottom:5px">
				<input id='searchtype' type='checkbox'>
				查找方式: 
				<select id='searchname' class="easyui-combobox" panelHeight="auto" editable='false'>
					<option value="id">id</option>
					<option value="name">名称</option>
				</select>
				<select id='searchmode' class="easyui-combobox" panelHeight="auto" editable='false'>
					<option value="0">精确</option>
					<option value="1">模糊</option>
				</select>
				<input id='searchtext' class="easyui-textbox" style="width:200px">
			</div>
		</div>
	</div>
	<!--新增服务器对话框开始-->
	<div id="maddserver" class="easyui-window" title="新增服务器" closed="true" style="width:350px;height:250px;top:50px;left:50px;"
		data-options="resizable:false,collapsible:false,minimizable:false,maximizable:false,shadow:true,modal:true">
		<div style="padding-top: 15px;padding-left: 20px;">
			<form id="as" method="post">
				<div><label style="display:inline-block;width:70px;">名称:</label><input id="bsvrname" name="svrname" class="easyui-textbox" data-options="required:true" style="width:200px"></div>
				<div style="padding-top:10px;"><label style="display:inline-block;width:70px;">备注:</label><input id="bremarks" name="remarks" data-options="multiline:true" class="easyui-textbox" style="width:200px;height:100px;"></div>
				<div style="padding-top:10px;">
					<input id='canedituser' type='checkbox' style="float:left;" onclick="cedituser()">
					<label style="float:left;width:70px;">只允许特定用户访问:</label>
					<div id="actuser"><div style="width:170px;" id="bactuser"></div></div>
				</div>
				<div style="padding-top:10px;text-align:center;">
					<div style="display:inline;width:60px;"><a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="addsvr('{{ url_for("svractmdf") }}')">保存</a></div>
					<div style="padding-left:50px;display:inline;width:60px;"><a class="easyui-linkbutton" onclick="$('#maddserver').window('close')">关闭</a></div>
				</div>
			</form>
		</div>
	</div>
	<!--新增服务器对话框结束-->
	<!--查看服务器操作记录对话框开始-->
	<div id="mserveractions" class="easyui-window" title="服务器操作记录" closed="true" style="width:600px;height:400px;top:50px;left:50px;"
		data-options="resizable:false,collapsible:false,minimizable:false,maximizable:false,shadow:true,modal:true">
		<div style="padding-top: 15px;padding-left: 20px;">
			<table id="svractdatagrid"></table>
			<div id="svracttb" style="height:auto">
				<div style="margin-bottom:5px">
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openaddsvractwin()">添加</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delsvract('{{ url_for("svractmdf") }}')">删除</a>
				</div>
				<div style="margin-bottom:5px">
					<input id='cacttime' type='checkbox'>
					操作时间从: <input id='tacttimefrom' class="easyui-datetimebox" style="width:150px" editable='false'>
					到: <input id='tacttimeto' class="easyui-datetimebox" style="width:150px" editable='false'>
					<a id='sasearchbtn' onclick="safilter()" style='width:80px;margin-left:20px;' class="easyui-linkbutton" iconCls="icon-search">筛选</a>
				</div>
				<div style="margin-bottom:5px">
					<input id='csearchtype' type='checkbox'>
					查找方式: 
					<select id='sasearchname' class="easyui-combobox" panelHeight="auto" editable='false'>
						<option value="id">id</option>
						<option value="actman">操作人</option>
					</select>
					<select id='sasearchmode' class="easyui-combobox" panelHeight="auto" editable='false'>
						<option value="0">精确</option>
						<option value="1">模糊</option>
					</select>
					<input id='sasearchtext' class="easyui-textbox" style="width:200px">
				</div>
			</div>
		</div>
	</div>
	<!--查看服务器操作记录对话框结束-->
	<!--新增服务器操作记录对话框开始-->
	<div id="maddserveraction" class="easyui-window" title="新增服务器操作记录" closed="true" style="width:350px;height:250px;top:50px;left:50px;"
		data-options="resizable:false,collapsible:false,minimizable:false,maximizable:false,shadow:true,modal:true">
		<div style="padding-top: 15px;padding-left: 20px;">
			<form id="asa" method="post">
				<input id="bsvraction" name="svraction" data-options="multiline:true,required:true" class="easyui-textbox" style="width:275px;height:155px;"></div>
				<div style="padding-top:10px;text-align:center;">
					<div style="display:inline;width:60px;"><a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="addsvract('{{ url_for("svractmdf") }}')">保存</a></div>
					<div style="padding-left:50px;display:inline;width:60px;"><a class="easyui-linkbutton" onclick="$('#maddserveraction').window('close')">关闭</a></div>
				</div>
			</form>
		</div>
	</div>
	<!--新增服务器操作记录对话框结束-->
	<!--修改服务器信息对话框开始-->
	<div id="mchangesvrmsg" class="easyui-window" title="修改服务器信息" closed="true" style="width:350px;height:250px;top:50px;left:50px;"
		data-options="resizable:false,collapsible:false,minimizable:false,maximizable:false,shadow:true,modal:true">
		<div style="padding-top: 15px;padding-left: 20px;">
			<form id="csm" method="post">
				<div><label style="display:inline-block;width:70px;">名称:</label><input id="cbsvrname" name="csvrname" class="easyui-textbox" data-options="required:true" style="width:200px"></div>
				<div style="padding-top:10px;"><label style="display:inline-block;width:70px;">备注:</label><input id="cbremarks" name="cremarks" data-options="multiline:true" class="easyui-textbox" style="width:200px;height:100px;"></div>
				<div style="padding-top:10px;">
					<input id='ccanedituser' type='checkbox' style="float:left;" onclick="ccedituser()">
					<label style="float:left;width:70px;">只允许特定用户访问:</label>
					<div id="cactuser"><div style="width:170px;" id="cbactuser"></div></div>
				</div>
				<div style="padding-top:10px;text-align:center;">
					<div style="display:inline;width:60px;"><a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="changesvrmsg('{{ url_for("svractmdf") }}')">保存</a></div>
					<div style="padding-left:50px;display:inline;width:60px;"><a class="easyui-linkbutton" onclick="$('#mchangesvrmsg').window('close')">关闭</a></div>
				</div>
			</form>
		</div>
	</div>
	<!--修改服务器信息对话框结束-->
	<!--服务器操作记录结束-->
</div>
</body>
</html>